# 2017 Average-Daily-Balance Calculations

This notebook documents months 8 through 10 for 2017.

In [1]:
%run ./GreenlightUtility.py

## 2017-08

Activity for the month:

In [2]:
starting_balance = 358.74

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-08.csv')
df_csv

,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,8/13/2017,Greenlight Card (KAW),,Opening Balance,,[Greenlight Card (KAW)],,c,0.00
1,8/13/2017,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,100.00
2,8/13/2017,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
3,8/24/2017,Greenlight Card (KAW),,Shein.com,London GBR,Childcare:Furnishings,,c,-12.00
4,8/29/2017,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-0.01
5,8/29/2017,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-7.95
6,8/29/2017,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-1.00

Letâ€™s take a look at the balance by every transaction:

In [3]:
df_transactions = GreenlightUtility.get_transactions_data_frame(df_csv, starting_balance)
df_transactions

        Date  Transactions
0  8/13/2017        358.74
1  8/13/2017        458.74
2  8/13/2017        508.74
3  8/24/2017        496.74
4  8/29/2017        496.73
5  8/29/2017        488.78
6  8/29/2017        487.78

Now we need to see the balance at the end of every day:

In [6]:
df_eod_transactions = df_transactions.groupby('Date').last()
df_eod_transactions

           Transactions
Date
8/13/2017        508.74
8/24/2017        496.74
8/29/2017        487.78

In [9]:
from datetime import date

first_day_of_month = date(2017, 8, 1)

df_all_dates_in_month = GreenlightUtility.get_all_dates_in_month(first_day_of_month)
df_all_dates_in_month

         Dates
0   2017-08-01
1   2017-08-02
2   2017-08-03
3   2017-08-04
4   2017-08-05
5   2017-08-06
6   2017-08-07
7   2017-08-08
8   2017-08-09
9   2017-08-10
10  2017-08-11
11  2017-08-12
12  2017-08-13
13  2017-08-14
14  2017-08-15
15  2017-08-16
16  2017-08-17
17  2017-08-18
18  2017-08-19
19  2017-08-20
20  2017-08-21
21  2017-08-22
22  2017-08-23
23  2017-08-24
24  2017-08-25
25  2017-08-26
26  2017-08-27
27  2017-08-28
28  2017-08-29
29  2017-08-30
30  2017-08-31