# 2017 Average-Daily-Balance Calculations

This notebook documents months 8 through 10 for 2017.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2017-08

Activity for the month:

In [2]:
starting_balance = 0

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-08.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2017-08-13,2017-08-13,Greenlight Card (KAW),,Opening Balance,,[Greenlight Card (KAW)],,c,0.00
1,2017-08-13,2017-08-13,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,100.00
2,2017-08-13,2017-08-13,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
3,2017-08-24,2017-08-24,Greenlight Card (KAW),,Shein.com,London GBR,Childcare:Furnishings,,c,-12.00
4,2017-08-29,2017-08-29,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-0.01
5,2017-08-29,2017-08-29,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-7.95
6,2017-08-29,2017-08-29,Greenlight Card (KAW),,Geeker.com,,Childcare:Furnishings,,c,-1.00

Letâ€™s take a look at the balance by every transaction:

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2017-08-13     0.00
1  2017-08-13   100.00
2  2017-08-13   150.00
3  2017-08-24   138.00
4  2017-08-29   137.99
5  2017-08-29   130.04
6  2017-08-29   129.04

Now we need to see the balance at the end of every day:

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2017-08-13   150.00
2017-08-24   138.00
2017-08-29   129.04

We have enough data for the average daily balance:

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2017, 8)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

I admit that this average daily balance number is different from my previous work in .NET. This could be due to floating point drama or something else beyond my recognition. I tend to trust this pandas-based work over my previous work but this sentiment is ignorant.

Now that I have explained how to get this number for one month of transactions, I will go forward several years without much commentary.

The starting balance of the next month is based on the last balance of the previous month:

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2017-08-29   129.04

## 2017-09

In [7]:
starting_balance = 129.04

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-09.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2017-09-05,2017-09-05,Greenlight Card (KAW),,Sprouts,,Childcare:Furnishings,,c,-6.86
1,2017-09-05,2017-09-05,Greenlight Card (KAW),,Menchies,,Childcare:Furnishings,,c,-4.73
2,2017-09-07,2017-09-07,Greenlight Card (KAW),,Apple,,Childcare:Leisure,,c,-0.87
3,2017-09-07,2017-09-07,Greenlight Card (KAW),,TST*Z Pastabar,,Childcare:Furnishings,,c,-6.43
4,2017-09-11,2017-09-11,Greenlight Card (KAW),,Rave,,Childcare:Leisure,,c,-6.75
5,2017-09-12,2017-09-12,Greenlight Card (KAW),,Greenlight,,Childcare:Furnishings,,c,-4.99
6,2017-09-14,2017-09-14,Greenlight Card (KAW),,Apple,,Childcare:Furnishings,,c,-9.94
7,2017-09-14,2017-09-14,Greenlight Card (KAW),,District Market,,Childcare:Furnishings,,c,-2.50
8,2017-09-18,2017-09-18,Greenlight Card (KAW),,Sprouts,,Childcare:Furnishings,,c,-6.13
9,2017-09-20,2017-09-20,Greenlight Card (KAW),,Pieology,,Childcare:Leisure,,c,-2.30
10,2017-09-27,2017-09-27,Greenlight Card (KAW),,Grand Casino Bakery,,Childcare:Furnishings,,c,-4.40

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2017-09-05   122.18
1   2017-09-05   117.45
2   2017-09-07   116.58
3   2017-09-07   110.15
4   2017-09-11   103.40
5   2017-09-12    98.41
6   2017-09-14    88.47
7   2017-09-14    85.97
8   2017-09-18    79.84
9   2017-09-20    77.54
10  2017-09-27    73.14

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2017-09-05   117.45
2017-09-07   110.15
2017-09-11   103.40
2017-09-12    98.41
2017-09-14    85.97
2017-09-18    79.84
2017-09-20    77.54
2017-09-27    73.14

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2017, 9)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2017-09-27    73.14

## 2017-10

In [12]:
starting_balance = 73.14

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-10.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2017-10-02,2017-10-02,Greenlight Card (KAW),,Sprouts,,Childcare:Furnishings,,c,-1.99
1,2017-10-03,2017-10-03,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-9.00
2,2017-10-03,2017-10-03,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-2.50
3,2017-10-04,2017-10-04,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-4.65
4,2017-10-12,2017-10-12,Greenlight Card (KAW),,Greenlight,,Childcare:Furnishings,,c,-4.99
5,2017-10-13,2017-10-13,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
6,2017-10-23,2017-10-23,Greenlight Card (KAW),,Star Mini Mart,,Childcare:Furnishings,,c,-5.72
7,2017-10-25,2017-10-25,Greenlight Card (KAW),,Chipotle,,Childcare:Furnishings,,c,-7.37
8,2017-10-26,2017-10-26,Greenlight Card (KAW),,Shell Calabasas,,Childcare:Furnishings,,c,-4.33

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2017-10-02    71.15
1  2017-10-03    62.15
2  2017-10-03    59.65
3  2017-10-04    55.00
4  2017-10-12    50.01
5  2017-10-13   100.01
6  2017-10-23    94.29
7  2017-10-25    86.92
8  2017-10-26    82.59

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2017-10-02    71.15
2017-10-03    59.65
2017-10-04    55.00
2017-10-12    50.01
2017-10-13   100.01
2017-10-23    94.29
2017-10-25    86.92
2017-10-26    82.59

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2017, 10)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2017-10-26    82.59

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates    Balance
0  2017-08  87.971613
1  2017-09  94.359333
2  2017-10  79.519032

In [20]:
df_final['Balance'].sum() * .1

26.184997849462366