# 2018 Average-Daily-Balance Calculations

This notebook documents months 2 through 4 for 2018.

In [7]:
%run ./GreenlightUtility.py

averages = []

## 2018-2

In [8]:
starting_balance = 100.86

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-02.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-02-01,2018-02-01,Greenlight Card,,Ulta,,Childcare:Furnishings,,,-10.06
1,2018-02-03,2018-02-03,Greenlight Card,,Spotify,,Childcare:Furnishings,,,-9.99
2,2018-02-11,2018-02-11,Greenlight Card,,CVS,,Childcare:Furnishings,,,-9.84
3,2018-02-12,2018-02-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
4,2018-02-15,2018-02-15,Greenlight Card,,Alices Shop,,Childcare:Furnishings,,,-12.02
5,2018-02-16,2018-02-16,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
6,2018-02-28,2018-02-28,Greenlight Card,,Spotify,,Childcare:Furnishings,,,-9.99
7,2018-02-28,2018-02-28,Greenlight Card,,Amazon.com,,Childcare:Furnishings,,,-12.95

In [9]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-02-01    90.80
1  2018-02-03    80.81
2  2018-02-11    70.97
3  2018-02-12    65.98
4  2018-02-15    53.96
5  2018-02-16   103.96
6  2018-02-28    93.97
7  2018-02-28    81.02

In [10]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-02-01    90.80
2018-02-03    80.81
2018-02-11    70.97
2018-02-12    65.98
2018-02-15    53.96
2018-02-16   103.96
2018-02-28    81.02

In [11]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 2)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [12]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-02-28    81.02

## 2018-3

In [13]:
starting_balance = 81.02

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-03.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-03-01,2018-03-01,Greenlight Card,,Dylan's Candy Bar-12,,Childcare:Furnishings,,,-1.99
1,2018-03-01,2018-03-01,Greenlight Card,,The Salad Bar,,Childcare:Furnishings,,,-5.75
2,2018-03-03,2018-03-03,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2018-03-07,2018-03-07,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-3.15
4,2018-03-09,2018-03-09,Greenlight Card,,CVS,,,,c,-8.65
5,2018-03-12,2018-03-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
6,2018-03-19,2018-03-19,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-2.10
7,2018-03-19,2018-03-19,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-5.85
8,2018-03-22,2018-03-22,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
9,2018-03-27,2018-03-27,Greenlight Card,,Buffalo Wild Wings,,Childcare:Furnishings,,c,-7.65
10,2018-03-28,2018-03-28,Greenlight Card,,ArcLight,,Childcare:Leisure,,c,-12.00
11,2018-03-28,2018-03-28,Greenlight Card,,Metro Downtown Santa Monica,,Childcare:Furnishings,,c,-3.50
12,2018-03-31,2018-03-31,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [14]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2018-03-01    79.03
1   2018-03-01    73.28
2   2018-03-03   123.28
3   2018-03-07   120.13
4   2018-03-09   111.48
5   2018-03-12   106.49
6   2018-03-19   104.39
7   2018-03-19    98.54
8   2018-03-22   148.54
9   2018-03-27   140.89
10  2018-03-28   128.89
11  2018-03-28   125.39
12  2018-03-31   115.40

In [15]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-03-01    73.28
2018-03-03   123.28
2018-03-07   120.13
2018-03-09   111.48
2018-03-12   106.49
2018-03-19    98.54
2018-03-22   148.54
2018-03-27   140.89
2018-03-28   125.39
2018-03-31   115.40

In [16]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 3)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [17]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-03-31    115.4

## 2018-4

In [18]:
starting_balance = 115.40

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-04.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-04-03,2018-04-03,Greenlight Card,,Etsy,,Childcare:Furnishings,,c,-13.66
1,2018-04-03,2018-04-03,Greenlight Card,,Amazon.com,,Childcare:Furnishings,,c,-10.00
2,2018-04-08,2018-04-08,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2018-04-08,2018-04-08,Greenlight Card,,Amazon.com,,Childcare:Furnishings,,c,-7.99
4,2018-04-12,2018-04-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
5,2018-04-21,2018-04-21,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
6,2018-04-26,2018-04-26,Greenlight Card,,Sprouts,,Childcare:Furnishings,,c,-5.49
7,2018-04-27,2018-04-27,Greenlight Card,,The Vegan Joint,,Childcare:Furnishings,,c,-4.33
8,2018-04-30,2018-04-30,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [19]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-04-03   101.74
1  2018-04-03    91.74
2  2018-04-08   141.74
3  2018-04-08   133.75
4  2018-04-12   128.76
5  2018-04-21   178.76
6  2018-04-26   173.27
7  2018-04-27   168.94
8  2018-04-30   158.95

In [20]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-04-03    91.74
2018-04-08   133.75
2018-04-12   128.76
2018-04-21   178.76
2018-04-26   173.27
2018-04-27   168.94
2018-04-30   158.95

In [21]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 4)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [22]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-04-30   158.95

## Calculation of Contribution

In [23]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2018-02   88.553214
1  2018-03  117.115806
2  2018-04  137.206000

In [24]:
df_final['Balance'].sum() * .1

34.28750207373272