# 2018 Average-Daily-Balance Calculations

This notebook documents months 5 through 7 for 2018.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2018-5

In [2]:
starting_balance = 158.95

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-05.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-05-03,2018-05-03,Greenlight Card,,GrubHub,,Childcare:Furnishings,,c,-18.51
1,2018-05-09,2018-05-09,Greenlight Card,,WingStop,,Childcare:Furnishings,,c,-14.22
2,2018-05-12,2018-05-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-05-03   140.44
1  2018-05-09   126.22
2  2018-05-12   121.23

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-05-03   140.44
2018-05-09   126.22
2018-05-12   121.23

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 5)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-05-12   121.23

## 2018-6

In [7]:
starting_balance = 121.23

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-06.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-06-03,2018-06-03,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
1,2018-06-09,2018-06-09,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2018-06-11,2018-06-11,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-7.98
3,2018-06-12,2018-06-12,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
4,2018-06-12,2018-06-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
5,2018-06-15,2018-06-15,Greenlight Card,,IN-N-OUT BURGER,,Childcare:Furnishings,,c,-6.82
6,2018-06-16,2018-06-16,Greenlight Card,,Sephora,,Childcare:Furnishings,,c,-11.00

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-06-03   171.23
1  2018-06-09   161.24
2  2018-06-11   153.26
3  2018-06-12   203.26
4  2018-06-12   198.27
5  2018-06-15   191.45
6  2018-06-16   180.45

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-06-03   171.23
2018-06-09   161.24
2018-06-11   153.26
2018-06-12   198.27
2018-06-15   191.45
2018-06-16   180.45

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 6)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-06-16   180.45

## 2018-7

In [12]:
starting_balance = 180.45

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-07.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-07-02,2018-07-02,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
1,2018-07-06,2018-07-06,Greenlight Card,,Transfer Money,,[inflow account],,c,150.00
2,2018-07-06,2018-07-06,Greenlight Card,,Idyllwild Camp,,Childcare:Furnishings,,c,-150.00
3,2018-07-12,2018-07-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-07-02   170.46
1  2018-07-06   320.46
2  2018-07-06   170.46
3  2018-07-12   165.47

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-07-02   170.46
2018-07-06   170.46
2018-07-12   165.47

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 7)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-07-12   165.47

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2018-05  127.864516
1  2018-06  174.619667
2  2018-07  167.562903

In [18]:
df_final['Balance'].sum() * .1

47.00470860215053