# 2017â€“2018 Average-Daily-Balance Calculations

This notebook documents months 11 through 12 for 2017 and month 1, 2018.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2017-11

In [2]:
starting_balance = 82.59

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-11.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2017-11-02,2017-11-02,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
1,2017-11-02,2017-11-02,Greenlight Card (KAW),,Juanita's Cafe,,Childcare:Furnishings,,c,-4.75
2,2017-11-03,2017-11-03,Greenlight Card (KAW),,**VOID**ELF Cosmetics,,Childcare:Leisure,,c,0.00
3,2017-11-07,2017-11-07,Greenlight Card (KAW),,Signature Burger,,Childcare:Furnishings,,c,-4.37
4,2017-11-08,2017-11-08,Greenlight Card (KAW),,Signature Burger,,Childcare:Furnishings,,c,-4.37
5,2017-11-10,2017-11-10,Greenlight Card (KAW),,Arclight Culver City,,Childcare:Leisure,,c,-16.50
6,2017-11-10,2017-11-10,Greenlight Card (KAW),,Chipotle,,Childcare:Furnishings,,c,-9.72
7,2017-11-12,2017-11-12,Greenlight Card (KAW),,Greenlight,,Childcare:Furnishings,,c,-4.99
8,2017-11-28,2017-11-28,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-2.25

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2017-11-02   132.59
1  2017-11-02   127.84
2  2017-11-03   127.84
3  2017-11-07   123.47
4  2017-11-08   119.10
5  2017-11-10   102.60
6  2017-11-10    92.88
7  2017-11-12    87.89
8  2017-11-28    85.64

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2017-11-02   127.84
2017-11-03   127.84
2017-11-07   123.47
2017-11-08   119.10
2017-11-10    92.88
2017-11-12    87.89
2017-11-28    85.64

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2017, 11)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2017-11-28    85.64

## 2017-12

In [7]:
starting_balance = 85.64

df_csv = GreenlightUtility.get_csv_data_frame('./data/2017-12.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2017-12-03,2017-12-03,Greenlight Card (KAW),,Jack in the Box,,Childcare:Furnishings,,c,-3.06
1,2017-12-04,2017-12-04,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
2,2017-12-06,2017-12-06,Greenlight Card (KAW),,Starbucks,,Childcare:Furnishings,,c,-3.75
3,2017-12-06,2017-12-06,Greenlight Card (KAW),,Star Mini Mart,,Childcare:Furnishings,,c,-3.28
4,2017-12-07,2017-12-07,Greenlight Card (KAW),,Bobs Food Market,,Childcare:Furnishings,,c,-2.69
5,2017-12-11,2017-12-11,Greenlight Card (KAW),,Sprouts,,Childcare:Furnishings,,c,-6.69
6,2017-12-12,2017-12-12,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-7.05
7,2017-12-12,2017-12-12,Greenlight Card (KAW),,Greenlight,,Childcare:Furnishings,,c,-4.99
8,2017-12-13,2017-12-13,Greenlight Card (KAW),,Signature Burger,,Childcare:Furnishings,,c,-4.92
9,2017-12-14,2017-12-14,Greenlight Card (KAW),,Veggie Grill,,Food:Dining Out - Meal,,c,-10.90
10,2017-12-14,2017-12-14,Greenlight Card (KAW),,Star Mini Mart,,Childcare:Furnishings,,c,-2.09
11,2017-12-15,2017-12-15,Greenlight Card (KAW),,Lush Century City,,Childcare:Leisure,,c,-7.59
12,2017-12-17,2017-12-17,Greenlight Card (KAW),,AliExpress.com,,Childcare:Furnishings,,c,-12.00
13,2017-12-18,2017-12-18,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,c,-5.85
14,2017-12-31,2017-12-31,Greenlight Card (KAW),,Spotify.com,,Childcare:Leisure,,c,-9.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2017-12-03    82.58
1   2017-12-04   132.58
2   2017-12-06   128.83
3   2017-12-06   125.55
4   2017-12-07   122.86
5   2017-12-11   116.17
6   2017-12-12   109.12
7   2017-12-12   104.13
8   2017-12-13    99.21
9   2017-12-14    88.31
10  2017-12-14    86.22
11  2017-12-15    78.63
12  2017-12-17    66.63
13  2017-12-18    60.78
14  2017-12-31    50.79

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2017-12-03    82.58
2017-12-04   132.58
2017-12-06   125.55
2017-12-07   122.86
2017-12-11   116.17
2017-12-12   104.13
2017-12-13    99.21
2017-12-14    86.22
2017-12-15    78.63
2017-12-17    66.63
2017-12-18    60.78
2017-12-31    50.79

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2017, 12)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2017-12-31    50.79

## 2018-1

In [12]:
starting_balance = 50.79

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-01.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-01-01,2018-01-01,Greenlight Card (KAW),,Target,,Childcare:Furnishings,,c,-11.44
1,2018-01-03,2018-01-03,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,c,50.00
2,2018-01-03,2018-01-03,Greenlight Card (KAW),,Forever 21,,Childcare:Leisure,,,-0.19
3,2018-01-04,2018-01-04,Greenlight Card (KAW),,Ali Express,,Childcare:Furnishings,,,-1.57
4,2018-01-08,2018-01-08,Greenlight Card (KAW),,SpinFish Po,,Childcare:Furnishings,,,-10.37
5,2018-01-09,2018-01-09,Greenlight Card (KAW),,Signature Burger,,Childcare:Furnishings,,,-6.01
6,2018-01-10,2018-01-10,Greenlight Card (KAW),,Chipotle,,Childcare:Furnishings,,,-7.37
7,2018-01-12,2018-01-12,Greenlight Card (KAW),,Rainbow Acres,,Childcare:Leisure,,,-4.04
8,2018-01-12,2018-01-12,Greenlight Card (KAW),,Greenlight,,Childcare:Furnishings,,,-4.99
9,2018-01-14,2018-01-14,Greenlight Card (KAW),,Trader Joes,,Childcare:Furnishings,,,-6.03
10,2018-01-15,2018-01-15,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,,50.00
11,2018-01-15,2018-01-15,Greenlight Card (KAW),,Amazon.com,,Childcare:Furnishings,,,-9.57
12,2018-01-15,2018-01-15,Greenlight Card (KAW),,Amazon.com,,Childcare:Furnishings,,,-4.95
13,2018-01-16,2018-01-16,Greenlight Card (KAW),,McDonald's,,Childcare:Furnishings,,,-4.80
14,2018-01-18,2018-01-18,Greenlight Card (KAW),,Bobs Food Market,,Childcare:Furnishings,,,-2.49
15,2018-01-19,2018-01-19,Greenlight Card (KAW),,Trader Joes,,Childcare:Furnishings,,,-3.79
16,2018-01-22,2018-01-22,Greenlight Card (KAW),,Govindas,,Childcare:Furnishings,,,-8.35
17,2018-01-23,2018-01-23,Greenlight Card (KAW),,Trader Joes,,Childcare:Furnishings,,,-3.99
18,2018-01-24,2018-01-24,Greenlight Card (KAW),,Star Mini Mart,,Childcare:Furnishings,,,-6.27
19,2018-01-25,2018-01-25,Greenlight Card (KAW),,Taco Bell,,Childcare:Furnishings,,,-3.71
20,2018-01-31,2018-01-31,Greenlight Card (KAW),,Transfer Money,,[Schwab High Yield Checking (3810)],,,50.00

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2018-01-01    39.35
1   2018-01-03    89.35
2   2018-01-03    89.16
3   2018-01-04    87.59
4   2018-01-08    77.22
5   2018-01-09    71.21
6   2018-01-10    63.84
7   2018-01-12    59.80
8   2018-01-12    54.81
9   2018-01-14    48.78
10  2018-01-15    98.78
11  2018-01-15    89.21
12  2018-01-15    84.26
13  2018-01-16    79.46
14  2018-01-18    76.97
15  2018-01-19    73.18
16  2018-01-22    64.83
17  2018-01-23    60.84
18  2018-01-24    54.57
19  2018-01-25    50.86
20  2018-01-31   100.86

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-01-01    39.35
2018-01-03    89.16
2018-01-04    87.59
2018-01-08    77.22
2018-01-09    71.21
2018-01-10    63.84
2018-01-12    54.81
2018-01-14    48.78
2018-01-15    84.26
2018-01-16    79.46
2018-01-18    76.97
2018-01-19    73.18
2018-01-22    64.83
2018-01-23    60.84
2018-01-24    54.57
2018-01-25    50.86
2018-01-31   100.86

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 1)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-01-31   100.86

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates    Balance
0  2017-11  97.746000
1  2017-12  84.082581
2  2018-01  67.054194

In [18]:
df_final['Balance'].sum() * .1

24.88827741935484