# 2018 Average-Daily-Balance Calculations

This notebook documents months 8 through 10 for 2018.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2018-8

In [2]:
starting_balance = 165.47

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-08.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-08-02,2018-08-02,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
1,2018-08-02,2018-08-02,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2018-08-09,2018-08-09,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2018-08-12,2018-08-12,Greenlight Card,,Rite Aid,,Childcare:Furnishings,,c,-7.07
4,2018-08-12,2018-08-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
5,2018-08-13,2018-08-13,Greenlight Card,,The Green Store,,Childcare:Furnishings,,c,-11.49
6,2018-08-21,2018-08-21,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
7,2018-08-22,2018-08-22,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-7.20
8,2018-08-31,2018-08-31,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-08-02   159.48
1  2018-08-02   149.49
2  2018-08-09   199.49
3  2018-08-12   192.42
4  2018-08-12   187.43
5  2018-08-13   175.94
6  2018-08-21   169.95
7  2018-08-22   162.75
8  2018-08-31   152.76

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-08-02   149.49
2018-08-09   199.49
2018-08-12   187.43
2018-08-13   175.94
2018-08-21   169.95
2018-08-22   162.75
2018-08-31   152.76

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 8)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-08-31   152.76

## 2018-9

In [7]:
starting_balance = 152.76

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-09.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-09-04,2018-09-04,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-8.55
1,2018-09-05,2018-09-05,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-7.07
2,2018-09-12,2018-09-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
3,2018-09-13,2018-09-13,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
4,2018-09-20,2018-09-20,Greenlight Card,,India Sweets & Spices,,Childcare:Furnishings,,c,-7.89
5,2018-09-21,2018-09-21,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
6,2018-09-21,2018-09-21,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
7,2018-09-25,2018-09-25,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-4.05
8,2018-09-28,2018-09-28,Greenlight Card,,Idyllwild Camp,,Other Income:Reversal of Charges,,c,25.00
9,2018-09-30,2018-09-30,Greenlight Card,,India Sweets & Spices,,Childcare:Furnishings,,c,-2.73
10,2018-09-30,2018-09-30,Greenlight Card,,India Sweets & Spices,,Childcare:Furnishings,,c,-22.50
11,2018-09-30,2018-09-30,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2018-09-04   144.21
1   2018-09-05   137.14
2   2018-09-12   132.15
3   2018-09-13   182.15
4   2018-09-20   174.26
5   2018-09-21   224.26
6   2018-09-21   218.27
7   2018-09-25   214.22
8   2018-09-28   239.22
9   2018-09-30   236.49
10  2018-09-30   213.99
11  2018-09-30   204.00

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-09-04   144.21
2018-09-05   137.14
2018-09-12   132.15
2018-09-13   182.15
2018-09-20   174.26
2018-09-21   218.27
2018-09-25   214.22
2018-09-28   239.22
2018-09-30   204.00

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 9)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-09-30    204.0

## 2018-10

In [12]:
starting_balance = 204.00

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-10.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-10-03,2018-10-03,Greenlight Card,,National/Robertson Car,,Childcare:Furnishings,,c,-3.08
1,2018-10-05,2018-10-05,Greenlight Card,,Ulta,,Childcare:Furnishings,,c,-19.21
2,2018-10-05,2018-10-05,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-6.30
3,2018-10-07,2018-10-07,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
4,2018-10-09,2018-10-09,Greenlight Card,,Govindas,,Childcare:Leisure,,c,-3.15
5,2018-10-12,2018-10-12,Greenlight Card,,National/Robertson Car,,Childcare:Furnishings,,c,-2.88
6,2018-10-12,2018-10-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2018-10-16,2018-10-16,Greenlight Card,,Google *YouTube,,Childcare:Leisure,,c,-6.99
8,2018-10-18,2018-10-18,Greenlight Card,,National/Robertson Car,,Childcare:Furnishings,,c,-5.67
9,2018-10-21,2018-10-21,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-10-03   200.92
1  2018-10-05   181.71
2  2018-10-05   175.41
3  2018-10-07   225.41
4  2018-10-09   222.26
5  2018-10-12   219.38
6  2018-10-12   214.39
7  2018-10-16   207.40
8  2018-10-18   201.73
9  2018-10-21   195.74

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-10-03   200.92
2018-10-05   175.41
2018-10-07   225.41
2018-10-09   222.26
2018-10-12   214.39
2018-10-16   207.40
2018-10-18   201.73
2018-10-21   195.74

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 10)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-10-21   195.74

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2018-08  167.509032
1  2018-09  178.070333
2  2018-10  203.514516

In [18]:
df_final['Balance'].sum() * .1

54.90938817204301