# 2019 Average-Daily-Balance Calculations

This notebook documents months 2 through 4 for 2019.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2019-2

In [2]:
starting_balance = 311.87

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-02.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-02-01,2019-02-01,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
1,2019-02-03,2019-02-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2019-02-12,2019-02-12,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2019-02-12,2019-02-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
4,2019-02-15,2019-02-15,Greenlight Card,,Mod Pizza,,Childcare:Furnishings,,c,-11.76
5,2019-02-21,2019-02-21,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-15.97

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-02-01   305.88
1  2019-02-03   295.89
2  2019-02-12   345.89
3  2019-02-12   340.90
4  2019-02-15   329.14
5  2019-02-21   313.17

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-02-01   305.88
2019-02-03   295.89
2019-02-12   340.90
2019-02-15   329.14
2019-02-21   313.17

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 2)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-02-21   313.17

## 2019-3

In [7]:
starting_balance = 313.17

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-03.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-03-01,2019-03-01,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
1,2019-03-02,2019-03-02,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
2,2019-03-07,2019-03-07,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-8.97
3,2019-03-12,2019-03-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-03-01   303.18
1  2019-03-02   353.18
2  2019-03-07   344.21
3  2019-03-12   339.22

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-03-01   303.18
2019-03-02   353.18
2019-03-07   344.21
2019-03-12   339.22

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 3)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-03-12   339.22

## 2019-4

In [12]:
starting_balance = 339.22

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-04.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-04-01,2019-04-01,Greenlight Card,,"ArcLight, Culver City",,Childcare:Leisure,,c,-25.50
1,2019-04-03,2019-04-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2019-04-04,2019-04-04,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2019-04-06,2019-04-06,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
4,2019-04-12,2019-04-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-04-01   313.72
1  2019-04-03   303.73
2  2019-04-04   353.73
3  2019-04-06   347.74
4  2019-04-12   342.75

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-04-01   313.72
2019-04-03   303.73
2019-04-04   353.73
2019-04-06   347.74
2019-04-12   342.75

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 4)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-04-12   342.75

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2019-02  313.488214
1  2019-03  341.113871
2  2019-04  341.244000

In [18]:
df_final['Balance'].sum() * .1

99.58460852534563