# 2018â€“2019 Average-Daily-Balance Calculations

This notebook documents months 11 and 12 for 2018 through to month 1, 2019.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2018-11

In [2]:
starting_balance = 195.74

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-11.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-11-01,2018-11-01,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-8.91
1,2018-11-03,2018-11-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
2,2018-11-09,2018-11-09,Greenlight Card,,CVS,,Childcare:Furnishings,,c,-3.25
3,2018-11-12,2018-11-12,Greenlight Card,,City of Santa Monica,beach parking,Childcare:Furnishings,,c,-2.00
4,2018-11-12,2018-11-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
5,2018-11-13,2018-11-13,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
6,2018-11-18,2018-11-18,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
7,2018-11-28,2018-11-28,Greenlight Card,,Transfer Money,,[inflow account],,c,150.00
8,2018-11-30,2018-11-30,Greenlight Card,,National/Robertson Car,,Childcare:Furnishings,,c,-4.97
9,2018-11-30,2018-11-30,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-11-01   186.83
1  2018-11-03   176.84
2  2018-11-09   173.59
3  2018-11-12   171.59
4  2018-11-12   166.60
5  2018-11-13   160.61
6  2018-11-18   210.61
7  2018-11-28   360.61
8  2018-11-30   355.64
9  2018-11-30   345.65

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-11-01   186.83
2018-11-03   176.84
2018-11-09   173.59
2018-11-12   166.60
2018-11-13   160.61
2018-11-18   210.61
2018-11-28   360.61
2018-11-30   345.65

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 11)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-11-30   345.65

## 2018-12

In [7]:
starting_balance = 345.65

df_csv = GreenlightUtility.get_csv_data_frame('./data/2018-12.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2018-12-03,2018-12-03,Greenlight Card,,Google (YouTube),,Childcare:Leisure,,c,-3.99
1,2018-12-04,2018-12-04,Greenlight Card,,Trader Joes,,Childcare:Furnishings,,c,-7.98
2,2018-12-05,2018-12-05,Greenlight Card,,**VOID**Amazon.com,appears to be a marketplace credit?,Childcare:Cash Support,,c,0.00
3,2018-12-06,2018-12-06,Greenlight Card,,Starbucks,,Childcare:Furnishings,,c,-2.50
4,2018-12-06,2018-12-06,Greenlight Card,,Noah's Bagels,,Childcare:Furnishings,,c,-7.99
5,2018-12-12,2018-12-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
6,2018-12-12,2018-12-12,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-10.98
7,2018-12-31,2018-12-31,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2018-12-03   341.66
1  2018-12-04   333.68
2  2018-12-05   333.68
3  2018-12-06   331.18
4  2018-12-06   323.19
5  2018-12-12   318.20
6  2018-12-12   307.22
7  2018-12-31   297.23

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2018-12-03   341.66
2018-12-04   333.68
2018-12-05   333.68
2018-12-06   323.19
2018-12-12   307.22
2018-12-31   297.23

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2018, 12)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2018-12-31   297.23

## 2019-1

In [12]:
starting_balance = 297.23

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-01.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-01-03,2019-01-03,Greenlight Card,,Cinemark Theaters,,Childcare:Leisure,,c,-11.00
1,2019-01-03,2019-01-03,Greenlight Card,,Cinemark Theaters,,Childcare:Leisure,,c,-9.00
2,2019-01-04,2019-01-04,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
3,2019-01-07,2019-01-07,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
4,2019-01-09,2019-01-09,Greenlight Card,,Wendy's,,Childcare:Furnishings,,c,-4.38
5,2019-01-12,2019-01-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-01-03   286.23
1  2019-01-03   277.23
2  2019-01-04   327.23
3  2019-01-07   321.24
4  2019-01-09   316.86
5  2019-01-12   311.87

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-01-03   277.23
2019-01-04   327.23
2019-01-07   321.24
2019-01-09   316.86
2019-01-12   311.87

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 1)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-01-12   311.87

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2018-11  203.269667
1  2018-12  315.286129
2  2019-01  312.381935

In [18]:
df_final['Balance'].sum() * .1

83.09377311827957