# 2019 Average-Daily-Balance Calculations

This notebook documents months 5 through 7 for 2019.

In [1]:
%run ./GreenlightUtility.py

averages = []

## 2019-5

In [2]:
starting_balance = 342.75

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-05.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-05-01,2019-05-01,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
1,2019-05-02,2019-05-02,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-5.17
2,2019-05-03,2019-05-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
3,2019-05-07,2019-05-07,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
4,2019-05-11,2019-05-11,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
5,2019-05-11,2019-05-11,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-9.99
6,2019-05-12,2019-05-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
7,2019-05-22,2019-05-22,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-0.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-05-01   336.76
1  2019-05-02   331.59
2  2019-05-03   321.60
3  2019-05-07   371.60
4  2019-05-11   365.61
5  2019-05-11   355.62
6  2019-05-12   350.63
7  2019-05-22   349.64

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-05-01   336.76
2019-05-02   331.59
2019-05-03   321.60
2019-05-07   371.60
2019-05-11   355.62
2019-05-12   350.63
2019-05-22   349.64

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 5)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-05-22   349.64

## 2019-6

In [7]:
starting_balance = 349.64

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-06.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-06-01,2019-06-01,Greenlight Card,,Demtrius Harmon,"youtube ""influencer""",Childcare:Furnishings,,c,-19.99
1,2019-06-02,2019-06-02,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
2,2019-06-03,2019-06-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
3,2019-06-07,2019-06-07,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-5.93
4,2019-06-12,2019-06-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-06-01   329.65
1  2019-06-02   379.65
2  2019-06-03   369.66
3  2019-06-07   363.73
4  2019-06-12   358.74

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-06-01   329.65
2019-06-02   379.65
2019-06-03   369.66
2019-06-07   363.73
2019-06-12   358.74

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 6)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-06-12   358.74

## 2019-7

In [12]:
starting_balance = 358.74

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-07.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-07-01,2019-07-01,Greenlight Card,,Transfer Money,,[inflow account],,c,50.00
1,2019-07-01,2019-07-01,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-19.99
2,2019-07-03,2019-07-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
3,2019-07-07,2019-07-07,Greenlight Card,,Apple,ITUNES,Childcare:Leisure,,c,-5.99
4,2019-07-12,2019-07-12,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-4.04
5,2019-07-12,2019-07-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,c,-4.99
6,2019-07-20,2019-07-20,Greenlight Card,,CVS,,Childcare:Leisure,,c,-2.62

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2019-07-01   408.74
1  2019-07-01   388.75
2  2019-07-03   378.76
3  2019-07-07   372.77
4  2019-07-12   368.73
5  2019-07-12   363.74
6  2019-07-20   361.12

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-07-01   388.75
2019-07-03   378.76
2019-07-07   372.77
2019-07-12   363.74
2019-07-20   361.12

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 7)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-07-20   361.12

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2019-05  348.370000
1  2019-06  360.755000
2  2019-07  367.733871

In [18]:
df_final['Balance'].sum() * .1

107.6858870967742