# 2020 Average-Daily-Balance Calculations

This notebook documents months 5 through 7 for 2020.

In [1]:
%run ./GreenlightUtility.py

averages = []

In [2]:
starting_balance = 669.2

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-05.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-05-02,2020-05-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
1,2020-05-03,2020-05-03,Greenlight Card,,Knockies,,Childcare:Furnishings,,c,-32.90
2,2020-05-04,2020-05-04,Greenlight Card,,CVS,,Childcare:Furnishings,,c,-7.76
3,2020-05-06,2020-05-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
4,2020-05-07,2020-05-07,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
5,2020-05-10,2020-05-10,Greenlight Card,,Sprouts,,Childcare:Furnishings,,c,-14.58
6,2020-05-12,2020-05-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2020-05-12,2020-05-12,Greenlight Card,,Apple,,Childcare:Leisure,,c,-9.99
8,2020-05-12,2020-05-12,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
9,2020-05-12,2020-05-12,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
10,2020-05-15,2020-05-15,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
11,2020-05-25,2020-05-25,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
12,2020-05-26,2020-05-26,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
13,2020-05-30,2020-05-30,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2020-05-02   667.21
1   2020-05-03   634.31
2   2020-05-04   626.55
3   2020-05-06   625.56
4   2020-05-07   623.57
5   2020-05-10   608.99
6   2020-05-12   604.00
7   2020-05-12   594.01
8   2020-05-12   592.02
9   2020-05-12   590.03
10  2020-05-15   588.04
11  2020-05-25   586.05
12  2020-05-26   636.05
13  2020-05-30   634.06

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-05-02   667.21
2020-05-03   634.31
2020-05-04   626.55
2020-05-06   625.56
2020-05-07   623.57
2020-05-10   608.99
2020-05-12   590.03
2020-05-15   588.04
2020-05-25   586.05
2020-05-26   636.05
2020-05-30   634.06

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 5)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-05-30   634.06

## 2020-06

In [7]:
starting_balance = 634.06

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-06.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-06-02,2020-06-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
1,2020-06-03,2020-06-03,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-1.99
2,2020-06-06,2020-06-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-10.99
3,2020-06-06,2020-06-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
4,2020-06-07,2020-06-07,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
5,2020-06-12,2020-06-12,Greenlight Card,,Apple,,Childcare:Leisure,,c,-9.99
6,2020-06-12,2020-06-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2020-06-14,2020-06-14,Greenlight Card,,Jamba Juice,,Childcare:Leisure,,c,-7.89
8,2020-06-15,2020-06-15,Greenlight Card,,CVS,,Childcare:Furnishings,,c,-6.27
9,2020-06-20,2020-06-20,Greenlight Card,,HouseOfIntuition,,Childcare:Leisure,,c,-39.22
10,2020-06-27,2020-06-27,Greenlight Card,,Sprouts,,Childcare:Furnishings,,c,-11.41
11,2020-06-30,2020-06-30,Greenlight Card,,Transfer Money,,[inflow account],,,75.00

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2020-06-02   632.07
1   2020-06-03   630.08
2   2020-06-06   619.09
3   2020-06-06   618.10
4   2020-06-07   608.11
5   2020-06-12   598.12
6   2020-06-12   593.13
7   2020-06-14   585.24
8   2020-06-15   578.97
9   2020-06-20   539.75
10  2020-06-27   528.34
11  2020-06-30   603.34

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-06-02   632.07
2020-06-03   630.08
2020-06-06   618.10
2020-06-07   608.11
2020-06-12   593.13
2020-06-14   585.24
2020-06-15   578.97
2020-06-20   539.75
2020-06-27   528.34
2020-06-30   603.34

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 6)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-06-30   603.34

## 2020-07

In [12]:
starting_balance = 603.34

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-07.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-07-01,2020-07-01,Greenlight Card,,Barnes & Noble,,Childcare:Furnishings,,c,-40.35
1,2020-07-02,2020-07-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
2,2020-07-03,2020-07-03,Greenlight Card,,Spotify,,Childcare:Leisure,,c,-9.99
3,2020-07-04,2020-07-04,Greenlight Card,,Apple,,Childcare:Leisure,,c,-10.99
4,2020-07-04,2020-07-04,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
5,2020-07-12,2020-07-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
6,2020-07-13,2020-07-13,Greenlight Card,,Transfer Money,,[inflow account],,,0.75
7,2020-07-13,2020-07-13,Greenlight Card,,Knockies,,Childcare:Furnishings,,c,-6.80
8,2020-07-14,2020-07-14,Greenlight Card,,Transfer Money,,[inflow account],,,200.00

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2020-07-01   562.99
1  2020-07-02   561.00
2  2020-07-03   551.01
3  2020-07-04   540.02
4  2020-07-04   539.03
5  2020-07-12   534.04
6  2020-07-13   534.79
7  2020-07-13   527.99
8  2020-07-14   727.99

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-07-01   562.99
2020-07-02   561.00
2020-07-03   551.01
2020-07-04   539.03
2020-07-12   534.04
2020-07-13   527.99
2020-07-14   727.99

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 7)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-07-14   727.99

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2020-05  612.481613
1  2020-06  581.599333
2  2020-07  650.099677

In [18]:
df_final['Balance'].sum() * .1

184.41806236559142