# 2019â€“2020 Average-Daily-Balance Calculations

This notebook documents months 11 and 12 for 2019 and month 1 for 2020.

In [1]:
%run ./GreenlightUtility.py

averages = []

In [2]:
starting_balance = 542.83

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-11.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-11-01,2019-11-01,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
1,2019-11-06,2019-11-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
2,2019-11-06,2019-11-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-5.99
3,2019-11-09,2019-11-09,Greenlight Card,,Chick-fil-a,,Childcare:Furnishings,,c,-9.03
4,2019-11-12,2019-11-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
5,2019-11-15,2019-11-15,Greenlight Card,,Google,YouTube,Childcare:Leisure,,c,-1.99
6,2019-11-15,2019-11-15,Greenlight Card,,Google,YouTube,Childcare:Leisure,,c,-3.99
7,2019-11-15,2019-11-15,Greenlight Card,,Google,YouTube,Childcare:Leisure,,c,-1.99
8,2019-11-16,2019-11-16,Greenlight Card,,Google,YouTube,Childcare:Leisure,,c,-1.99
9,2019-11-16,2019-11-16,Greenlight Card,,Google,YouTube,Childcare:Leisure,,c,-1.99
10,2019-11-23,2019-11-23,Greenlight Card,,Apple,,Childcare:Leisure,,c,-9.99
11,2019-11-27,2019-11-27,Greenlight Card,,Microsoft Corporation,OneDrive?,Childcare:Furnishings,,c,-1.99
12,2019-11-28,2019-11-28,Greenlight Card,,Transfer Money,K's disrespectful black elves,[inflow account],,,75.00
13,2019-11-29,2019-11-29,Greenlight Card,,PayPal (alyssapezzu),,Childcare:Leisure,,c,-16.75
14,2019-11-30,2019-11-30,Greenlight Card,,PayPal (lilith45bp),,Childcare:Leisure,,c,-17.00

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2019-11-01   592.83
1   2019-11-06   591.84
2   2019-11-06   585.85
3   2019-11-09   576.82
4   2019-11-12   571.83
5   2019-11-15   569.84
6   2019-11-15   565.85
7   2019-11-15   563.86
8   2019-11-16   561.87
9   2019-11-16   559.88
10  2019-11-23   549.89
11  2019-11-27   547.90
12  2019-11-28   622.90
13  2019-11-29   606.15
14  2019-11-30   589.15

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-11-01   592.83
2019-11-06   585.85
2019-11-09   576.82
2019-11-12   571.83
2019-11-15   563.86
2019-11-16   559.88
2019-11-23   549.89
2019-11-27   547.90
2019-11-28   622.90
2019-11-29   606.15
2019-11-30   589.15

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 11)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-11-30   589.15

## 2019-12

In [7]:
starting_balance = 589.15

df_csv = GreenlightUtility.get_csv_data_frame('./data/2019-12.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2019-12-02,2019-12-02,Greenlight Card,,Michaels,,Childcare:Furnishings,,c,-15.68
1,2019-12-03,2019-12-03,Greenlight Card,,Apple,,Childcare:Furnishings,,c,-60.98
2,2019-12-09,2019-12-09,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
3,2019-12-09,2019-12-09,Greenlight Card,,Apple,,Other Income:Reversal of Charges,,,54.99
4,2019-12-11,2019-12-11,Greenlight Card,,Undergrind Cafe,,Childcare:Furnishings,,c,-7.00
5,2019-12-11,2019-12-11,Greenlight Card,,GrubHub,,Childcare:Furnishings,,c,-14.00
6,2019-12-12,2019-12-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
7,2019-12-13,2019-12-13,Greenlight Card,,Tro Fresh Mexican Grill,,Childcare:Furnishings,,c,-11.49
8,2019-12-19,2019-12-19,Greenlight Card,,Star Mini Mart,,Childcare:Furnishings,,c,-5.46
9,2019-12-19,2019-12-19,Greenlight Card,,Govindas,,Childcare:Furnishings,,c,-8.75
10,2019-12-20,2019-12-20,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
11,2019-12-22,2019-12-22,Greenlight Card,,"Cinemark 10, Los Angeles",,Childcare:Leisure,,c,-6.00
12,2019-12-23,2019-12-23,Greenlight Card,,Apple,,Childcare:Leisure,,c,-9.99
13,2019-12-24,2019-12-24,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,c,-2.99

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2019-12-02   573.47
1   2019-12-03   512.49
2   2019-12-09   511.50
3   2019-12-09   566.49
4   2019-12-11   559.49
5   2019-12-11   545.49
6   2019-12-12   540.50
7   2019-12-13   529.01
8   2019-12-19   523.55
9   2019-12-19   514.80
10  2019-12-20   564.80
11  2019-12-22   558.80
12  2019-12-23   548.81
13  2019-12-24   545.82

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2019-12-02   573.47
2019-12-03   512.49
2019-12-09   566.49
2019-12-11   545.49
2019-12-12   540.50
2019-12-13   529.01
2019-12-19   514.80
2019-12-20   564.80
2019-12-22   558.80
2019-12-23   548.81
2019-12-24   545.82

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2019, 12)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2019-12-24   545.82

## 2020-01

In [12]:
starting_balance = 545.82

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-01.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-01-02,2020-01-02,Greenlight Card,,Microsoft Corporation,,Childcare:Furnishings,,c,-1.99
1,2020-01-06,2020-01-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-5.99
2,2020-01-06,2020-01-06,Greenlight Card,,Apple,,Childcare:Leisure,,c,-0.99
3,2020-01-06,2020-01-06,Greenlight Card,,Cinemark Theatres,,Childcare:Leisure,,c,-8.10
4,2020-01-12,2020-01-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
5,2020-01-15,2020-01-15,Greenlight Card,,Transfer Money,,[inflow account],,,50.00
6,2020-01-21,2020-01-21,Greenlight Card,,GrubHub,,Childcare:Furnishings,,c,-16.00

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2020-01-02   543.83
1  2020-01-06   537.84
2  2020-01-06   536.85
3  2020-01-06   528.75
4  2020-01-12   523.76
5  2020-01-15   573.76
6  2020-01-21   557.76

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-01-02   543.83
2020-01-06   528.75
2020-01-12   523.76
2020-01-15   573.76
2020-01-21   557.76

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 1)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-01-21   557.76

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2019-11  573.877667
1  2019-12  540.295484
2  2020-01  549.769032

In [18]:
df_final['Balance'].sum() * .1

166.39421827956988