# 2020â€“2021 Average-Daily-Balance Calculations

This notebook documents months 11 and 12 for 2020 and through month 1, 2021.

In [1]:
%run ./GreenlightUtility.py

averages = []

In [2]:
starting_balance = 809.13

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-11.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-11-02,2020-11-02,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
1,2020-11-03,2020-11-03,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
2,2020-11-06,2020-11-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
3,2020-11-12,2020-11-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
4,2020-11-15,2020-11-15,Greenlight Card,,Sprouts,,Childcare:Furnishings,,,-9.49
5,2020-11-17,2020-11-17,Greenlight Card,,Emily Grill,,Childcare:Furnishings,,,-12.04
6,2020-11-19,2020-11-19,Greenlight Card,,Robeks,,Childcare:Furnishings,,,-7.79
7,2020-11-19,2020-11-19,Greenlight Card,,CVS,,Childcare:Furnishings,,,-20.25
8,2020-11-20,2020-11-20,Greenlight Card,,Apple,,Childcare:Furnishings,,,-4.99
9,2020-11-27,2020-11-27,Greenlight Card,,Transfer Money,,[inflow account],,,125.00
10,2020-11-28,2020-11-28,Greenlight Card,,Best Buy,,Childcare:Furnishings,,,-66.14
11,2020-11-30,2020-11-30,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,,-4.99
12,2020-11-30,2020-11-30,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99

In [3]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

      CsvIndex  Balance
0   2020-11-02   807.14
1   2020-11-03   797.15
2   2020-11-06   796.16
3   2020-11-12   791.17
4   2020-11-15   781.68
5   2020-11-17   769.64
6   2020-11-19   761.85
7   2020-11-19   741.60
8   2020-11-20   736.61
9   2020-11-27   861.61
10  2020-11-28   795.47
11  2020-11-30   790.48
12  2020-11-30   780.49

In [4]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-11-02   807.14
2020-11-03   797.15
2020-11-06   796.16
2020-11-12   791.17
2020-11-15   781.68
2020-11-17   769.64
2020-11-19   741.60
2020-11-20   736.61
2020-11-27   861.61
2020-11-28   795.47
2020-11-30   780.49

In [5]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 11)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [6]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-11-30   780.49

## 2020-12

In [7]:
starting_balance = 780.49

df_csv = GreenlightUtility.get_csv_data_frame('./data/2020-12.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2020-12-02,2020-12-02,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
1,2020-12-02,2020-12-02,Greenlight Card,,GrubHub,,Childcare:Furnishings,,,-28.60
2,2020-12-05,2020-12-05,Greenlight Card,,Thrift Books Global,,Childcare:Furnishings,,,-12.47
3,2020-12-06,2020-12-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
4,2020-12-12,2020-12-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
5,2020-12-13,2020-12-13,Greenlight Card,,Transfer Money,,[inflow account],,,2.04
6,2020-12-15,2020-12-15,Greenlight Card,,24Shatsu,,Childcare:Furnishings,,,-42.87
7,2020-12-20,2020-12-20,Greenlight Card,,Apple,,Childcare:Furnishings,,,-4.99
8,2020-12-24,2020-12-24,Greenlight Card,,Transfer Money,,[inflow account],,,150.00

In [8]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2020-12-02   778.50
1  2020-12-02   749.90
2  2020-12-05   737.43
3  2020-12-06   736.44
4  2020-12-12   731.45
5  2020-12-13   733.49
6  2020-12-15   690.62
7  2020-12-20   685.63
8  2020-12-24   835.63

In [9]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2020-12-02   749.90
2020-12-05   737.43
2020-12-06   736.44
2020-12-12   731.45
2020-12-13   733.49
2020-12-15   690.62
2020-12-20   685.63
2020-12-24   835.63

In [10]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2020, 12)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [11]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2020-12-24   835.63

## 2021-01

In [12]:
starting_balance = 835.63

df_csv = GreenlightUtility.get_csv_data_frame('./data/2021-01.csv')
df_csv

,CsvIndex,Date,Account,Num,Description,Memo,Category,Tag,Clr,Amount
0,2021-01-02,2021-01-02,Greenlight Card,,Microsoft Corporation,OneDrive,Childcare:Furnishings,,,-1.99
1,2021-01-02,2021-01-02,Greenlight Card,,Google,YouTube videos,Childcare:Leisure,,,-19.99
2,2021-01-03,2021-01-03,Greenlight Card,,Spotify,,Childcare:Leisure,,,-9.99
3,2021-01-06,2021-01-06,Greenlight Card,,Apple,,Childcare:Leisure,,,-0.99
4,2021-01-10,2021-01-10,Greenlight Card,,Kinokuniya Bookstores,,Childcare:Furnishings,,,-25.02
5,2021-01-12,2021-01-12,Greenlight Card,,Greenlight,,Childcare:Furnishings,,,-4.99
6,2021-01-20,2021-01-20,Greenlight Card,,Apple,,Childcare:Leisure,,,-4.99
7,2021-01-30,2021-01-30,Greenlight Card,,Transfer Money,,[inflow account],,,150.00

In [13]:
df_balances = GreenlightUtility.get_balance_data_frame(df_csv, starting_balance)
df_balances

     CsvIndex  Balance
0  2021-01-02   833.64
1  2021-01-02   813.65
2  2021-01-03   803.66
3  2021-01-06   802.67
4  2021-01-10   777.65
5  2021-01-12   772.66
6  2021-01-20   767.67
7  2021-01-30   917.67

In [14]:
df_eod_balances = GreenlightUtility.get_balance_eod_data_frame(df_balances)
df_eod_balances

            Balance
CsvIndex
2021-01-02   813.65
2021-01-03   803.66
2021-01-06   802.67
2021-01-10   777.65
2021-01-12   772.66
2021-01-20   767.67
2021-01-30   917.67

In [15]:
first_day_of_month = GreenlightUtility.get_first_day_of_month(2021, 1)

df_daily_balance = GreenlightUtility.get_daily_balance_data_frame(
    first_day_of_month,
    starting_balance,
    df_eod_balances)

averages.append((first_day_of_month.strftime('%Y-%m'), df_daily_balance.mean().values[0]))

In [16]:
df_eod_balances.tail(1)

            Balance
CsvIndex
2021-01-30   917.67

## Calculation of Contribution

In [17]:
df_final = GreenlightUtility.get_final_data_frame(averages)
df_final

     Dates     Balance
0  2020-11  779.724667
1  2020-12  750.495161
2  2021-01  790.953548

In [18]:
df_final['Balance'].sum() * .1

232.11733763440859