# pandas user guide: JSON

<https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#json>

In [1]:
import pandas as pd

## normalization

>pandas provides a utility function to take a dict or list of dicts and normalize this semi-structured data into a flat table.

In [12]:
import json

index_json = """
{
    "entry1": {
        "column1": true,
        "column2": "value one",
        "column3": 49
    },
    "entry2": {
        "column1": true,
        "column2": "value two",
        "column3": 50
    },
    "entry3": {
        "column1": true,
        "column2": "value three",
        "column3": 51
    }
}
"""

dictionary = json.loads(index_json)

pd.json_normalize(dictionary).style.hide_index()

In [16]:
index_json = """
[
    {
        "entry1": {
            "column1": true,
            "column2": "value one",
            "column3": 49
        },
        "entry2": {
            "column1": true,
            "column2": "value two",
            "column3": 50
        },
        "entry3": {
            "column1": true,
            "column2": "value three",
            "column3": 51
        }
    },
    {
        "entry1": {
            "column1": true,
            "column2": "value four",
            "column3": 52
        },
        "entry2": {
            "column1": true,
            "column2": "value five",
            "column3": 53
        },
        "entry3": {
            "column1": false,
            "column2": "value six",
            "column3": 54
        }
    }
]
"""

dictionaries = json.loads(index_json)

pd.json_normalize(dictionaries).style.hide_index()