# pandas user guide: JSON

<https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#json>

In [1]:
import pandas as pd

## reading JSON

>Reading a JSON string to pandas object can take a number of parameters. The parser will try to parse a `DataFrame` if `typ` is not supplied or is `None`. To explicitly force Series parsing, pass `typ=series`

In [5]:
records_json = """
[
    {
        "column1": true,
        "column2": "value one",
        "column3": 49
    },
    {
        "column1": true,
        "column2": "value two",
        "column3": 50
    },
    {
        "column1": true,
        "column2": "value three",
        "column3": 51
    }
]
"""

pd.read_json(records_json, typ='frame', orient='records').style.hide_index()

In [13]:
index_json = """
{
    "entry1": {
        "column1": true,
        "column2": "value one",
        "column3": 49
    },
    "entry2": {
        "column1": true,
        "column2": "value two",
        "column3": 50
    },
    "entry3": {
        "column1": true,
        "column2": "value three",
        "column3": 51
    }
}
"""

pd.read_json(index_json, typ='frame', orient='index').style.hide_index()

In [10]:
columns_json = """
{
    "column1": {
        "index1": true,
        "index2": "value one",
        "index3": 49
    },
    "column2": {
        "index1": true,
        "index2": "value two",
        "index3": 50
    },
    "column3": {
        "index1": true,
        "index2": "value three",
        "index3": 51
    }
}
"""

pd.read_json(columns_json, typ='frame', orient='columns').style.hide_index()

In [8]:
values_json = """
[
    "value one",
    "value two",
    "value three"
]
"""

pd.read_json(values_json, typ='frame', orient='values').style.hide_index()

             0
0    value one
1    value two
2  value three